@page "/auth/login"

<h2>Login</h2>
@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger">
        @Message
    </div>
}
<div>
    <EditForm Model="@Model" OnValidSubmit="SubmitLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label>Email:</label>
        <InputText @bind-Value="@Model.Email" class="form-control"></InputText>
        <label>Password:</label>
        <InputText @bind-Value="@Model.Password" class="form-control"></InputText>

        <button class="btn btn-primary" type="submit">Login</button>
    </EditForm>
</div>