@using BugTracker.BlazorUI.Pages.Auth
@inherits LayoutComponentBase

<PageTitle>zBug</PageTitle>
        <AuthorizeView>
            <div>
                <div>
                    <NavMenu />
                </div>
                <div>
                    <TabNavMenu />
                </div>
            </div>
        </AuthorizeView>
    
    <main>
        @Body
    </main>


