<div class="text-light">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <NavLink ActiveClass="active" class="nav-link d-flex align-items-center pb-1" href="/issue" Match="NavLinkMatch.All">
                <svg class="bi me-2" width="1rem" height="1rem" fill="currentColor">
                    <use xlink:href="icons/bootstrap-icons.svg#journals" />
                </svg>
                All Issues
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" class="nav-link d-flex align-items-center pb-1" href="/issue/filters">
                <svg class="bi me-2" width="1rem" height="1rem" fill="currentColor">
                    <use xlink:href="icons/bootstrap-icons.svg#toggles" />
                </svg>
                Filter Issues
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" class="nav-link d-flex align-items-center pb-1" href="/issue/create">
                <svg class="bi me-2" width="1rem" height="1rem" fill="currentColor">
                    <use xlink:href="icons/bootstrap-icons.svg#file-plus" />
                </svg>
                Add new Issue
            </NavLink>
        </li>
    </ul>
</div>
