<div class="d-flex pb-2 pt-2 border-bottom">
    <button class="btn btn-light btn-sm me-2 d-flex align-items-center" type="button">
        <svg class="bi me-2" width="1rem" height="1rem" fill="currentColor">
            <use xlink:href="icons/bootstrap-icons.svg#clipboard-pulse" />
        </svg>
        Filters
    </button>
    <button class="btn btn-light btn-sm me-2 d-flex align-items-center" type="button">
        <svg class="bi me-2" width="1rem" height="1rem" fill="currentColor">
            <use xlink:href="icons/bootstrap-icons.svg#clipboard-pulse" />
        </svg>
        Sort
    </button>
    <button class="btn btn-light btn-sm me-2 d-flex align-items-center" type="button">
        <svg class="bi me-2" width="1rem" height="1rem" fill="currentColor">
            <use xlink:href="icons/bootstrap-icons.svg#clipboard-pulse" />
        </svg>
        Search
    </button>
</div>
