@page "/"

<PageTitle>Bug Tracker</PageTitle>

<h1 class="text-center">Bug Tracker</h1>


        <button class="btn btn-warning" @onclick="Logout">Logout</button>

        <button class="btn btn-primary" @onclick="Login">Login</button>
        <button class="btn btn-primary" @onclick="Register">Register</button>



