@using BugTracker.BlazorUI.Pages.Auth

@page "/"

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <div class="d-flex align-middle justify-content-center vh-100 ">
            <h2 class="text-secondary row align-items-center text-decoration-underline">Click on one of the tabs above to navigate to the desired section.</h2>
        </div>
    </Authorized>
</AuthorizeView>
