@using BugTracker.BlazorUI.Pages.Auth

@page "/"


<PageTitle>Bug Tracker</PageTitle>
<AuthorizeView>
    <Authorized>
        <a class="btn btn-primary" href="/issue/create">CREATE NEW ISSUE</a>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>


