@page "/admin/user"

<h3>Users list</h3>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Edit</th>
            <th></th>
        </tr>
    </thead>
</table>
