@page "/admin/user"

<h3>Users list</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th><button class="btn btn-primary">Edit</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var user in Model)
            {
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
            }
        </tr>
    </tbody>
</table>
